
body {
	font-family: "Segoe UI";
  	overflow:hidden;
}
canvas {
	background: rgba(0,0,0,0);
}
textarea{
	font-family: "Segoe UI";
	height: 100%;
	width: 100%;
	outline:none;
	resize: none;
	border:none;
	background-color:rgba(0,0,0,0)
}
.inner {
	position: absolute;
  }
.icons{
	height: 10%;
	width: 10%;
	transition: .2s ease-in-out 0s;
}
.icons:hover{
	transform: scale(1.25);
}