
body {
	font-family: "Segoe UI";
  	overflow:hidden;
	background-color: var(--background-color)!important;
	color:var(--font-color)!important;
}
canvas {
	background: rgba(255, 255, 255, 0);
	
}
textarea{
	font-family: "Segoe UI";
	height: 100%;
	width: 100%;
	outline:none;
	resize: none;
	border:none;
	display:block;
	background-color:rgba(0,0,0,0);
	position: absolute;
	color:var(--font-color);
	padding:5px;
}
h1{
	font-size:calc(3.5vh + 3.5vw);
}
label{
	font-size:calc(2vh + 2vw);
}
.navbar-icon{
	height: calc(4vh + 3vw);
	width: calc(3vh + 4vw);
	transition: .2s ease-in-out 0s;
}
.navbar-icon:hover{
	transform: scale(1.25);
	
}
.icons{
	visibility:hidden;
	height: calc(4vh + 3vw);
	width: calc(3vh + 4vw);
	transition: .2s ease-in-out 0s;
	opacity:0;
}
.icons:hover{
	transform: scale(1.25);
}
.control-icons{
	height: calc(4vh + 3vw);
	width: calc(3vh + 4vw);
	transition: .2s ease-in-out 0s;
	
}
.control-icons:hover{
	transform: scale(1.25);
}
.color-button{
	background-color:var(--font-color);
	position:absolute;
	width: calc(3vh + 4vw);
	margin-top:calc(4vh + 3vw); 
	border:none;
	opacity:0;
}

.btn{
	width: 100%;
	position: absolute;
	bottom:0; 
	height:10vh;
	font-size:calc(1.9vh + 1.9vw);
}