
body {
	font-family: "Segoe UI";
  	overflow:hidden;
	background-color: var(--background-color)!important;
	color:var(--font-color)!important;
}
canvas {
	background: rgba(255, 255, 255, 0);
	
}
textarea{
	font-family: "Segoe UI";
	height: 100%;
	width: 100%;
	outline:none;
	resize: none;
	border:none;
	display:block;
	background-color:rgba(0,0,0,0);
	position: absolute;
}

.navbar-icon{
	height: 10%;
	width: 10%;
	transition: .2s ease-in-out 0s;
}
.navbar-icon:hover{
	transform: scale(1.25);
}
.icons{
	height: 10%;
	width: 10%;
	transition: .2s ease-in-out 0s;
	opacity:0;
}
.icons:hover{
	transform: scale(1.25);
}
.control-icons{
	height: 10%;
	width: 10%;
	transition: .2s ease-in-out 0s;
	
}
.control-icons:hover{
	transform: scale(1.25);
}
.color-button{
	background-color:rgb(0,0,0);
	position:absolute;
	width: 10%; 
	margin-top:10%; 
	border:none;
	opacity:0;
}